body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF5BE;
    color: #333;
}

header {
    background-color: #00457C;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #FFF5BE;
}

.hero {
    padding: 20px;
    text-align: center;
    background-color: #e0f7fa;
}

header h1 {
    color: #FFF5BE;
    text-align: center;
}

header h2 {
    color: #00457C;
}

button {
    background-color: #00457C;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00354B;
}

#temporary-content {
    color: black;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #00457C;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
