body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffdd0;
    display: grid;
}

img {
    max-width: 20%;
    height: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 20px; /* Adds space between the image and the text */
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    background-color: #00008b;
    text-align:center;
    padding-top: 1px;
    padding-bottom: 1px;
}

nav li {
    display: block;
    margin: 25px 0;
}

nav a {
    color: white;
    display: block;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
    grid-column: 1 / -1;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: white;
}

footer {
    text-align: center;
    padding: 20px;
}
